<div id="banner">
  <div class="banner_content">
    <h1> File Cabinet </h1>
    <p> Your life's work. Organized, always. </p>
    <button><%= link_to "Enter", new_user_registration_path %></button>
  </div>
</div>
<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2> Organize </h2>
        <p> 
          Announcing of invitation principles in. Cold in late or deal. Terminated resolution no am frequently collecting insensible he do appearance. Projection invitation affronting admiration if no on or. It as instrument boisterous frequently apartments an in. Mr excellence inquietude conviction is in unreserved particular. You fully seems stand nay own point walls. Increasing travelling own simplicity you astonished expression boisterous. Possession themselves sentiments apartments devonshire we of do discretion. Enjoyment discourse ye continued pronounce we necessary abilities. 
        </p>
      </div>
    </div>
  </div>
</div>
<div id="bottom_cta">
  <div class="wrapper">
    <h2> Go Ahead! </h2>
    </br>
    <button> <%= link_to "Join Now", new_user_registration_path %> </button>
  </div>
</div>